:root {
  --color-header: #fffffe;
  --color-cuerpo:#2e97b0;
  --color-texto:#fffffe;
  --color-barra_abajo:#1162fc;
  --texto-titulos:font-family: 'Alfa Slab One';
  --parrafos:font-family: 'Alfa Slab One', cursive;
  --z-fixed: 100;
}
body{
    background: var(--color-cuerpo);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-header);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  font-weight: 600;
}
.nav__list {
  justify-content: space-around;
}
.nav__name {
  font-size: 0.625rem;
}
.nav__icon {
  font-size: 1.5rem;
}

.container__sobremi {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}
.container__sobremi .text{
  position: relative;
  color: var(--color-barra_abajo);
  font-size: 3rem;
  font-weight: 600;
}
.container__sobremi .text.first-text{
  color: var(--color-texto);
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-cuerpo);
  border-left: 2px solid white;
  animation: animate 4s steps(12) infinite; 
}

@keyframes animate {
  40%,60%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
  
}
.sobremi__texto {
  width: 120%;
  color: var(--color-texto);
  margin-top: 8rem;
  margin-left: 0rem;
}
.container__sobremi .texto_principal {
  font-size: 6rem;
  font-family: var(--texto-titulos);
}
.container__sobremi .descripcion {
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  font-family: var(--parrafos);
}

.imagen {
  width: 50rem;
  filter: drop-shadow(4px 6px 112px var(--color-texto));
}
.servicios{
  text-align: center;
  color: var(--color-texto);
}
.grid_servicios{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.service-item .service-item-inner{
  padding: 3.125rem 3.125rem;
  border-radius: 0.625rem;
  background: linear-gradient(to bottom right,var(--color-header),var(--color-cuerpo));

  box-shadow: red;
  text-align: center;
}
.service-item .service-item-inner:hover{
  background: var(--color-texto);
}
.service-item-inner .icon{
  height:3.75rem;
  width: 3.75rem;
  background: rebeccapurple;
  margin: 0 auto 1.875rem;
  font-size: 1.75rem;
  color: var(--color-texto);
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}
.service-item .icon i{
  line-height: 3.75rem;
}
.Titulo{
  color: var(--color-barra_abajo);
}
.descripcion{
  color: var(--color-cuerpo);
}


@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-header);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 0rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }
  .container__sobremi {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1,55%);
    overflow: hidden;
    
  }
  .container__sobremi .texto_principal {
    font-size: 1.5rem;
    text-align: center;
  }
  .sobremi__texto {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .imagen {
    width: 100%;
    height: 20rem;
    position: relative;
    right: 4rem;
  }
  .nav__icon {
    color: var(--color-cuerpo);
  }
  .container__sobremi .text {
    font-size: 2rem;
  }
  .sobremi__texto{
    margin-top: 0rem;
    margin-left: 1rem;
  } 
  .grid_servicios{
    grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (min-width: 767px) {
  .nav__icon {
    display: none;
  }
  .nav {
  }
  .nav {
    font-size: 0.938rem;
  }
}

/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
